.stopwatch{
    display: flex;
    padding: auto;
    position:relative;
    align-items: center;
    justify-content: center;
}

.buttons{
    display: flex;
    padding: 50px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.stopwatch-wrapper{
    display: block;
}

.numbers{
    display: flex;
    align-items: center;
    position: relative;
    padding: 1px;
    justify-content: center;
}

.off-list{
    display: block;
    align-items: right;
    position: relative;
    padding: 1px;
    justify-content: right;
}

.on-list{
    display: block;
    align-items: left;
    position: relative;
    padding: 1px;
    justify-content: left;
}