.stopwatch{
    display: flex;
    padding: auto;
    position:relative;
    align-items: center;
    justify-content: center;
    font-family: monospace;
}

.timer{
    font-family: monospace;
}

.buttons{
    display: flex;
    padding: 50px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.stopwatch-wrapper{
    display: block;
}

.numbers{
    display: flex;
    align-items: center;
    position: relative;
    padding: 1px;
    justify-content: center;
}

.off-list{
    display: flex;
    flex-direction: row;
    align-items: right;
    position: relative;
    padding: 20px;
    border: 3px solid tomato;
    border-radius: 25px; 
    flex-grow: 3;
   justify-content: right;
}

.on-list{
    display: flex;
    align-items: left;
    position: relative;
    padding: 20px;
    border: 3px solid greenyellow;
    border-radius: 25px; 
    flex-grow: 3;
}

.list{
    display: grid;
    grid-row: auto;
    
}

.outer-container{
    display: flex;
    flex-direction: row;
}

.on{
    flex-grow: 5;
    align-items: left;
}

.off{
    flex-grow: 5;
    align-items: right;
}